<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>com.nosliw.servlet.core.HAPInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>loadLibServlet</servlet-name>
    <servlet-class>com.nosliw.servlet.core.HAPLoadLibServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadLibServlet</servlet-name>
    <url-pattern>/loadlib</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>gatewayServlet</servlet-name>
    <servlet-class>com.nosliw.servlet.core.HAPGatewayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gatewayServlet</servlet-name>
    <url-pattern>/gateway</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>clearCacheServlet</servlet-name>
    <servlet-class>com.nosliw.servlet.core.HAPClearResourceCacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clearCacheServlet</servlet-name>
    <url-pattern>/clearCache</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>miniappServlet</servlet-name>
    <servlet-class>com.nosliw.servlet.miniapp.HAPMiniAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>miniappServlet</servlet-name>
    <url-pattern>/miniApp</url-pattern>
  </servlet-mapping>

	<filter>
	    <filter-name>SetCacheControl</filter-name>
	    <filter-class>com.nosliw.servlet.HAPCacheControlFilter</filter-class>
	</filter>                       
	<filter-mapping>
	    <filter-name>SetCacheControl</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
