                 #red3 .red6 .red4 {
                 		color: red; 
                 	} 

                 	
                 	                 #red6 .red6 .red4 {
                 		color: blue; 
                 		color1: blue; 
                 	} 
                 	